<p>Your password has been reset. To login and change it to what you want click the link below.</p>

<p><a href="http://localhost:3000/changepassword?id=<%= id %>">Click to login and change password</a></p>